.footer {
  padding: 1px;
  background-color: $grisOscuro;
  margin: 0;

  .contenido-footer {
    padding-top: $separacion / 2;
  }

  .navegacion {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  .copyright {
    color: $blanco;
    text-align: center;
  }
}
